CSharp/EventSoft/EventSoft/Connected Services/ServiciosWS/WS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.pucp.edu.pe/" targetNamespace="http://servicios.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarEvento" type="tns:insertarEvento" />
  <xs:element name="insertarEventoResponse" type="tns:insertarEventoResponse" />
  <xs:element name="listarActividadesPorIdEvento" type="tns:listarActividadesPorIdEvento" />
  <xs:element name="listarActividadesPorIdEventoResponse" type="tns:listarActividadesPorIdEventoResponse" />
  <xs:element name="listarDocentePorIdEvento" type="tns:listarDocentePorIdEvento" />
  <xs:element name="listarDocentePorIdEventoResponse" type="tns:listarDocentePorIdEventoResponse" />
  <xs:element name="listarDocentesPorCodigoPUCPNombreIdEspecialidad" type="tns:listarDocentesPorCodigoPUCPNombreIdEspecialidad" />
  <xs:element name="listarDocentesPorCodigoPUCPNombreIdEspecialidadResponse" type="tns:listarDocentesPorCodigoPUCPNombreIdEspecialidadResponse" />
  <xs:element name="listarEspecialidadesTodas" type="tns:listarEspecialidadesTodas" />
  <xs:element name="listarEspecialidadesTodasResponse" type="tns:listarEspecialidadesTodasResponse" />
  <xs:element name="listarEventosPorNombre" type="tns:listarEventosPorNombre" />
  <xs:element name="listarEventosPorNombreResponse" type="tns:listarEventosPorNombreResponse" />
  <xs:complexType name="listarDocentesPorCodigoPUCPNombreIdEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDocentesPorCodigoPUCPNombreIdEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:docente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="docente">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element name="idDocente" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="activa" type="xs:boolean" />
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventosPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEventosPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="actividades" nillable="true" type="tns:actividad" />
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idEvento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responsables" nillable="true" type="tns:docente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actividad">
    <xs:sequence>
      <xs:element name="activa" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:string" />
      <xs:element name="idActividad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarActividadesPorIdEvento">
    <xs:sequence>
      <xs:element name="idEvento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarActividadesPorIdEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:actividad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDocentePorIdEvento">
    <xs:sequence>
      <xs:element name="idEvento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDocentePorIdEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:docente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEspecialidadesTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEspecialidadesTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>